<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Suggestion Title" type="text" #title="ngModel" name="title" ngModel required minlength="3">
      <mat-error *ngIf="title.invalid">Please enter a suggestion title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="3"
                placeholder="Suggestion Content"
                name="content" ngModel></textarea>

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Points 1 Title" type="text" #title="ngModel" name="pts1title" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Points 1 Points" type="text" #title="ngModel" name="pts1points" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Points 2 Title" type="text" #title="ngModel" name="pts2title" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Points 2 Points" type="text" #title="ngModel" name="pts2points" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Points 3 Title" type="text" #title="ngModel" name="pts3title" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Points 3 Points" type="text" #title="ngModel" name="pts3points" ngModel>
    </mat-form-field>

    <button mat-raised-button
            color="accent"
            type="submit">Save</button>
  </form>

</mat-card>
