<div id="fb-root"></div>

<div style="margin-top: -12px; margin-bottom: 32px; display: flex; flex-direction: row; flexWrap: wrap">

  <a class="twitter-share-button"
     href="https://twitter.com/intent/tweet?text=Check%20out%20this%20conservation%20site">
  </a>

  <div style="margin-left: 6px;" class="fb-like" data-href="http://mygreenprofile.clm" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
<h1>
  Make an Impact!
</h1>
<div class="home_body_text">
  <p>Do you want to make an impact on conservation and help to keep our planet green!
    MyGreenProfile allows you to track ways to conserve and to help teach others as well.  Come back soon to find out more!
  </p>
</div>
<app-post-list style="margin-top: 48px;"></app-post-list>
<div style="margin-top: 48px; display: none;">
  <h3>Have an idea? Submit it here for review.</h3>
  <app-post-create></app-post-create>
</div>
